@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: 'border-box';
}

body {
  font-family: 'Nunito Variable';
}

.slick-dots li button, .slick-dots li {
  width: 12px;
  height: 12px;
  background: #FFDA47;
  border-radius: 100%;
}

.slick-active button {
  background: #7C58D3 !important;
  transition: all 0.4s ease-in-out;
}

.slick-dots li button:before {
  color: transparent !important;
}

.slick-slide > div {
  margin: 0 16px;
}